@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;800&display=swap');

:root {
  --main-dark: #1f231f;
  --dark-green: #4f7d6a;
  --light-gray: #f8f9fa;
}

body {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  color: var(--main-dark);
}

main {
  margin-top: 72px;
  min-height: 80vh;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
  font-size: 1.3rem;
  color: var(--dark-green);
}

.nav-link {
  letter-spacing: 0.05em;
  margin-left: 1.5rem;
}

.navbar-collapse.collapse.show {
  background-color: var(--light-gray);
  width: 100%;
}
